@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --background: 147 45% 95%;
        --foreground: 220 10% 15%;
        --card: 140 40% 98%;
        --card-foreground: 220 15% 20%;
        --popover: 147 35% 96%;
        --popover-foreground: 220 12% 18%;
        --primary: 120 45% 45%;
        --primary-foreground: 0 0% 98%;
        --secondary: 118 79% 85%;
        --secondary-foreground: 120 25% 20%;
        --muted: 120 18% 88%;
        --muted-foreground: 120 18% 35%;
        --accent: 190 85% 45%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 65% 65%;
        --destructive-foreground: 0 0% 100%;
        --border: 150 18% 85%;
        --input: 150 18% 85%;
        --ring: 120 30% 35%;
        --chart-1: 56 85% 65%;
        --chart-2: 140 50% 55%;
        --chart-3: 220 35% 45%;
        --chart-4: 34 65% 70%;
        --chart-5: 330 50% 65%;

        --fine-foreground: 120 45% 45%;
        --warning-foreground: 45 100% 60%;
        --problem-foreground: 0 65% 65%;

        --fine: 120 45% 15%;
        --warning: 45 100% 20%;
        --problem: 0 65% 25%;

        --radius: 0.5rem;
        --font-display: Arial, Helvetica, sans-serif;
    }

    .dark {
        --background: 220 25% 10%;
        --foreground: 120 15% 85%;
        --card: 220 20% 12%;
        --card-foreground: 120 15% 92%;
        --popover: 220 20% 14%;
        --popover-foreground: 120 15% 85%;
        --primary: 145 45% 40%;
        --primary-foreground: 120 20% 98%;
        --secondary: 145 30% 20%;
        --secondary-foreground: 120 15% 85%;
        --muted: 220 15% 20%;
        --muted-foreground: 220 15% 60%;
        --accent: 145 45% 35%;
        --accent-foreground: 120 20% 98%;
        --destructive: 0 55% 50%;
        --destructive-foreground: 120 20% 98%;
        --border: 220 15% 25%;
        --input: 220 15% 25%;
        --ring: 145 45% 40%;
        --chart-1: 120 50% 30%;
        --chart-2: 145 50% 35%;
        --chart-3: 210 40% 35%;
        --chart-4: 34 45% 50%;
        --chart-5: 10 40% 50%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background font-display text-foreground;
    }
}
